<h1>Genres</h1>
<ul>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre_movies_path(genre.name) %> (<%= genre.movies.size %>)</li>
    <% end %>
    <hr/>
    <% if current_user && current_user.admin? %>
        <li><%= link_to 'Add Genre', new_genre_path %></li>
    <% end %>
</ul>