<% if @genres.any? %>
  <h3>Genres</h3>
  <ul>
    <% @genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
<% end %>
<h3><%= pluralize(@fans.size, 'fan') %></3>
<% if @fans.any? %>
  <ul>
    <% @fans.each do |user| %>
      <li>
        <%= link_to user.name, user %>
      </li>
    <% end %>
  </ul>
<% end %>